In [1]:
your_local_path = "C:/Users/sylve/Downloads/Machine learning/Dataset/Project datasets modified/Predicting Food Delivery Time Hackathon/"

In [2]:
import statistics
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
pd.set_option('display.max_rows', 12000)
pd.set_option('display.max_columns', 200)

In [4]:
df1 = pd.read_excel(your_local_path+"Data_Train.xlsx")

In [5]:
df2 = pd.read_excel(your_local_path+"Data_Test.xlsx")

In [6]:
df1['Train_Test']=1
df2['Train_Test']=2

In [7]:
df3=pd.concat([df1,df2])

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [8]:
df3.tail()

,Average_Cost,Cuisines,Delivery_Time,Location,Minimum_Order,Rating,Restaurant,Reviews,Train_Test,Votes
2769,₹100,"Fast Food, Chinese",NaN,Delhi University-GTB Nagar,₹50,NEW,ID_6342,-,2,-
2770,₹250,"Continental, North Indian, Desserts, Beverages",NaN,"Mico Layout, Stage 2, BTM Layout,Bangalore",₹50,3.1,ID_8495,1,2,5
2771,₹150,"Andhra, South Indian",NaN,"Noorkhan Bazaar, Malakpet, Hyderabad",₹50,3.0,ID_7122,1,2,16
2772,₹100,Bakery,NaN,"D-Block, Sector 63, Noida",₹99,3.0,ID_2475,2,2,7
2773,₹150,"Italian, Street Food, Fast Food",NaN,"Dockyard Road, Mumbai CST Area",₹50,3.6,ID_1595,30,2,99

In [9]:
df3['Average_Cost_Rupees']=df3['Average_Cost'].str.replace(",", "")
df3['Average_Cost_Rupees']=df3['Average_Cost_Rupees'].map(lambda x: x.lstrip('₹'))
df3['Minimum_Order_Rupees']=df3['Minimum_Order'].map(lambda x: x.lstrip('₹'))

In [10]:
cleanup_num={'Delivery_Time':{'30 minutes':30, '65 minutes':65, '45 minutes':45, '10 minutes':10, '20 minutes':20, '120 minutes':120, '80 minutes':80}}
df3.replace(cleanup_num,inplace=True)
df3.head()

,Average_Cost,Cuisines,Delivery_Time,Location,Minimum_Order,Rating,Restaurant,Reviews,Train_Test,Votes,Average_Cost_Rupees,Minimum_Order_Rupees
0,₹200,"Fast Food, Rolls, Burger, Salad, Wraps",30.0,"FTI College, Law College Road, Pune",₹50,3.5,ID_6321,4,1,12,200,50
1,₹100,"Ice Cream, Desserts",30.0,"Sector 3, Marathalli",₹50,3.5,ID_2882,4,1,11,100,50
2,₹150,"Italian, Street Food, Fast Food",65.0,Mumbai Central,₹50,3.6,ID_1595,30,1,99,150,50
3,₹250,"Mughlai, North Indian, Chinese",30.0,"Sector 1, Noida",₹99,3.7,ID_5929,95,1,176,250,99
4,₹200,"Cafe, Beverages",65.0,"Rmz Centennial, I Gate, Whitefield",₹99,3.2,ID_6123,235,1,521,200,99

In [11]:
df3['Average_Cost_Rupees'] = pd.to_numeric(df3['Average_Cost_Rupees'],errors='coerce')
df3['Minimum_Order_Rupees'] = pd.to_numeric(df3['Minimum_Order_Rupees'],errors='coerce')
df3['Delivery_Time'] = pd.to_numeric(df3['Delivery_Time'],errors='coerce')

In [12]:
df3.drop(['Average_Cost','Minimum_Order'],axis=1,inplace=True)

In [13]:
df3['Rating'] = pd.to_numeric(df3['Rating'],errors='coerce')
df3['Votes'] = pd.to_numeric(df3['Votes'],errors='coerce')
df3['Reviews'] = pd.to_numeric(df3['Reviews'],errors='coerce')

In [14]:
df31=df3.copy()

In [15]:
df3.isnull().sum()

Cuisines                   0
Delivery_Time           2774
Location                   0
Rating                  2470
Restaurant                 0
Reviews                 2905
Train_Test                 0
Votes                   2616
Average_Cost_Rupees        1
Minimum_Order_Rupees       0
dtype: int64

In [16]:
def rate(df3):
    for i in df3['Location'].unique():
        for j in df3['Average_Cost_Rupees'].unique():
            rat = df3.Rating[(df3['Location']== i)&(df3['Average_Cost_Rupees']==j)]
            if len(rat) != 0:
                #print(len(rat))
                q3 = rat.quantile(.75)
                q1 = rat.quantile(.25)
                #print(q3,q1)
                iqr=q3-q1
                #print(iqr)
                upper_lim = q3 + 1.5 * iqr
                lower_lim = q1 - 1.5 * iqr
                #print(upper_lim,lower_lim)

                s=[]
                #print(rat)
                for items in rat:
                    if len(rat) != 0:
                        if (items >lower_lim) & (items<upper_lim):
                            #print(items)
                            s.insert(0,items) 
                #print(s)  
                try:
                    me=round(statistics.mean(s),1)
                    df3.Rating[(df3['Location']== i)&(df3['Average_Cost_Rupees']==j)] = df3.Rating[(df3['Location']== i)&(df3['Average_Cost_Rupees']==j)].fillna(me)
                except Exception : pass   

   
%time rate(df3)

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Wall time: 1min 1s

In [17]:
def votee(df3):
    
    for i in range(2,6):
        for j in range(50,2100,50):
            vote=df3.Votes[(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)]
            if len(vote) != 0:
                #print(len(vote))
                q3 = vote.quantile(.75)
                q1 = vote.quantile(.25)
                #print(q3,q1)
                iqr=q3-q1
                #print(iqr)
                upper_lim = q3 + 1.5 * iqr
                lower_lim = q1 - 1.5 * iqr
                #print(upper_lim,lower_lim)

                s=[]
                #print(vote)
                for items in vote:
                    if len(vote) != 0:
                        if (items >lower_lim) & (items<upper_lim):
                            #print(items)
                            s.insert(0,items) 
                #print(s)  
                try:
                    me=round(statistics.mean(s),1)
                    df3.Votes[(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)] = df3.Votes[(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)].fillna(me)
                except Exception : pass 
            
            
            
%time votee(df3)

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Wall time: 7.41 s

In [18]:
def reviews(df3):
    for i in range(2,6):
        for j in range(50,2100,50):
            for k in range(0,1500,50):
                review = df3.Reviews[(df3['Votes']>=k)&(df3['Votes']<k+50)&(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)]
                if len(review) != 0:
                    #print(len(review))
                    q3 = review.quantile(.75)
                    q1 = review.quantile(.25)
                    #print(q3,q1)
                    iqr=q3-q1
                    #print(iqr)
                    upper_lim = q3 + 1.5 * iqr
                    lower_lim = q1 - 1.5 * iqr
                    #print(upper_lim,lower_lim)

                    s=[]
                    #print(review)
                    for items in review:
                        if len(review) != 0:
                            if (items >lower_lim) & (items<upper_lim):
                                #print(items)
                                s.insert(0,items) 
                    #print(s)  
                    try:
                        me=round(statistics.mean(s),1)
                        df3.Reviews[(df3['Votes']>=k)&(df3['Votes']<k+50)&(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)] = df3.Reviews[(df3['Votes']>=k)&(df3['Votes']<k+50)&(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)].fillna(me)
                    except Exception : pass 
                    
%time reviews(df3)

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Wall time: 1min 11s

In [19]:
df3[df3['Reviews'].isnull()]

,Cuisines,Delivery_Time,Location,Rating,Restaurant,Reviews,Train_Test,Votes,Average_Cost_Rupees,Minimum_Order_Rupees
983,"North Indian, Arabian, Mughlai, Biryani, Seafo...",30.0,Majestic,4.4,ID_3566,NaN,1,699.0,400.0,50
2014,"North Indian, Pizza, Burger, Continental",30.0,Delhi Cantt.,4.1,ID_4366,NaN,1,699.0,400.0,0
2442,"North Indian, Chinese, Mughlai, Fast Food",30.0,Mumbai Central,4.1,ID_6689,NaN,1,1290.0,550.0,50
2696,"North Indian, Fast Food, Chinese, Beverages",30.0,"Sector 63A,Gurgaon",3.9,ID_8225,NaN,1,364.3,600.0,50
5486,"Chinese, North Indian",30.0,"Delhi High Court, India Gate",4.0,ID_5491,NaN,1,699.0,400.0,50
5630,"North Indian, Chinese, Continental, Thai",30.0,"Yerawada, Pune, Maharashtra",4.0,ID_6894,NaN,1,1599.7,650.0,50
6297,Fast Food,30.0,Pune University,NaN,ID_6472,NaN,1,NaN,NaN,50
6739,"Chinese, North Indian, Mughlai, Continental, B...",30.0,"Sector 1, Noida",4.0,ID_8142,NaN,1,699.0,400.0,50
6839,"Pizza, Italian, Fast Food",30.0,"Sector 1, Noida",4.1,ID_617,NaN,1,699.0,400.0,50
8046,"North Indian, Chinese, Continental, Thai",30.0,"Nathan Road, Mangaldas Road, Pune",4.0,ID_6894,NaN,1,1599.7,650.0,50
8077,Asian,30.0,Delhi University-GTB Nagar,4.1,ID_7480,NaN,1,699.0,400.0,50
8868,"Continental, Italian, BBQ",30.0,"Sector 63A,Gurgaon",4.0,ID_5634,NaN,1,699.0,400.0,50
9210,"Pizza, Italian, Fast Food",30.0,"D-Block, Sector 63, Noida",4.1,ID_617,NaN,1,699.0,400.0,50
9577,Asian,30.0,"Delhi Administration Flats, Timarpur",4.0,ID_7480,NaN,1,699.0,400.0,50
9734,"Asian, Thai, Sushi",30.0,"Yerawada, Pune, Maharashtra",4.1,ID_6317,NaN,1,1002.1,500.0,50
77,"North Indian, Mughlai, Seafood",NaN,"FTI College, Law College Road, Pune",3.5,ID_8231,NaN,2,327.3,450.0,50
1825,Maharashtrian,NaN,Pune University,NaN,ID_5069,NaN,2,NaN,550.0,50
1868,North Indian,NaN,"Sector 63A,Gurgaon",3.9,ID_7317,NaN,2,364.3,600.0,50
2713,"North Indian, Chinese, Mughlai, Fast Food",NaN,"Sandhurst Road, Mumbai CST Area",4.1,ID_6689,NaN,2,1290.0,550.0,50

In [20]:
df3=df3.drop(6297)

In [21]:
for j in df3['Average_Cost_Rupees'].unique():
    df3.Rating[df3['Average_Cost_Rupees']==j] = df3.Rating[df3['Average_Cost_Rupees']==j].fillna(df3.Rating[df3['Average_Cost_Rupees']==j].mean())

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
for i in range(2,6):
    for j in range(50,700,50):
        df3.Votes[(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)] = df3.Votes[(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)].fillna(df3.Votes[(df3['Rating']>=i)&(df3['Rating']<i+1)&(df3['Average_Cost_Rupees']>=j)&(df3['Average_Cost_Rupees']<j+50)].mean())

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
for i in range(2,6):
    for k in range(0,1650,50):
        df3.Reviews[(df3['Votes']>=k)&(df3['Votes']<k+50)&(df3['Rating']>=i)&(df3['Rating']<i+1)] = df3.Reviews[(df3['Votes']>=k)&(df3['Votes']<k+50)&(df3['Rating']>=i)&(df3['Rating']<i+1)].fillna(df3.Reviews[(df3['Votes']>=k)&(df3['Votes']<k+50)&(df3['Rating']>=i)&(df3['Rating']<i+1)].mean())

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
df3['Reviews']=round(df3['Reviews'])
df3['Votes']=round(df3['Votes'])

In [25]:
df3.isnull().sum()

Cuisines                   0
Delivery_Time           2774
Location                   0
Rating                     0
Restaurant                 0
Reviews                    0
Train_Test                 0
Votes                      0
Average_Cost_Rupees        0
Minimum_Order_Rupees       0
dtype: int64

In [26]:
df4=df3.copy()

In [27]:
df4 = pd.get_dummies(df4,columns=['Location'])

In [28]:
df4.head()

,Cuisines,Delivery_Time,Rating,Restaurant,Reviews,Train_Test,Votes,Average_Cost_Rupees,Minimum_Order_Rupees,"Location_BTM Layout 1, Electronic City","Location_Babarpur, New Delhi, Delhi","Location_Chandni Chowk, Kolkata","Location_Chatta Bazaar, Malakpet, Hyderabad","Location_D-Block, Sector 63, Noida","Location_Delhi Administration Flats, Timarpur",Location_Delhi Cantt.,"Location_Delhi High Court, India Gate",Location_Delhi University-GTB Nagar,"Location_Dockyard Road, Mumbai CST Area","Location_FTI College, Law College Road, Pune","Location_Gora Bazar, Rajbari, North Dumdum, Kolkata","Location_Hyderabad Public School, Begumpet","Location_Jaya Nagar, Saidabad, Hyderabad","Location_Laxman Vihar Industrial Area, Sector 3A, Gurgoan","Location_MG Road, Pune",Location_Majestic,"Location_Mico Layout, Stage 2, BTM Layout,Bangalore","Location_Moulali, Kolkata",Location_Mumbai Central,"Location_Musi Nagar, Malakpet, Hyderabad","Location_Nathan Road, Mangaldas Road, Pune","Location_Noorkhan Bazaar, Malakpet, Hyderabad","Location_Panjetan Colony, Malakpet, Hyderabad",Location_Pune University,"Location_Raja Bazar, Kolkata","Location_Rmz Centennial, I Gate, Whitefield","Location_Sandhurst Road, Mumbai CST Area","Location_Sector 1, Noida","Location_Sector 14, Noida","Location_Sector 3, Marathalli","Location_Sector 63A,Gurgaon","Location_Tejas Nagar Colony, Wadala West, Mumbai","Location_Tiretti, Kolkata","Location_Yerawada, Pune, Maharashtra"
0,"Fast Food, Rolls, Burger, Salad, Wraps",30.0,3.5,ID_6321,4.0,1,12.0,200.0,50,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"Ice Cream, Desserts",30.0,3.5,ID_2882,4.0,1,11.0,100.0,50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,"Italian, Street Food, Fast Food",65.0,3.6,ID_1595,30.0,1,99.0,150.0,50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,"Mughlai, North Indian, Chinese",30.0,3.7,ID_5929,95.0,1,176.0,250.0,99,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,"Cafe, Beverages",65.0,3.2,ID_6123,235.0,1,521.0,200.0,99,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [29]:
import itertools
a=[]

In [30]:
for index, row in df4.iterrows():
    s=row["Cuisines"].split(", ")
    a.insert(0,s)
print(type(s))

aa=list(itertools.chain.from_iterable(a))
aa=list(set(aa))
len(aa)

<class 'list'>

101

In [31]:
print(aa)

['North Indian', 'Finger Food', 'Sandwich', 'Chinese', 'Steak', 'Burger', 'Lucknowi', 'Indian', 'South American', 'Biryani', 'Desserts', 'Ice Cream', 'Sri Lankan', 'German', 'Hot dogs', 'Roast Chicken', 'Bohri', 'North Eastern', 'Cantonese', 'Maharashtrian', 'Japanese', 'Asian', 'Poké', 'Greek', 'Coffee', 'Mithai', 'Malwani', 'Iranian', 'Mexican', 'Naga', 'Portuguese', 'Bubble Tea', 'Bakery', 'BBQ', 'Bangladeshi', 'Israeli', 'Arabian', 'Assamese', 'Charcoal Chicken', 'Juices', 'Kashmiri', 'Mishti', 'Momos', 'Tamil', 'Pizza', 'Kebab', 'Awadhi', 'Raw Meats', 'Frozen Yogurt', 'Healthy Food', 'Bihari', 'Mediterranean', 'Nepalese', 'Mughlai', 'Tibetan', 'American', 'Belgian', 'Wraps', 'Rolls', 'Thai', 'Sushi', 'Indonesian', 'European', 'Chettinad', 'Continental', 'Spanish', 'Paan', 'Brazilian', 'Parsi', 'Beverages', 'Bengali', 'Seafood', 'Turkish', 'Korean', 'Middle Eastern', 'Goan', 'Malaysian', 'Italian', 'Gujarati', 'Mangalorean', 'Lebanese', 'Fast Food', 'Street Food', 'South Indian', 'Konkan', 'Modern Indian', 'Burmese', 'Afghan', 'Kerala', 'Odia', 'Vietnamese', 'Hyderabadi', 'Salad', 'French', 'Rajasthani', 'Bar Food', 'African', 'Tea', 'Cafe', 'Tex-Mex', 'Andhra']

In [32]:
for i in aa:
    df4[i]=0

In [33]:
def fi(df4):
    for index, row in df4.iterrows():
        ss=row['Cuisines'].split(", ")
        for i in ss:
            df4[i][index]=1
        
%time fi(df4)

D:\install\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Wall time: 15min 9s

In [34]:
df4.isnull().sum()

Cuisines                                                        0
Delivery_Time                                                2774
Rating                                                          0
Restaurant                                                      0
Reviews                                                         0
Train_Test                                                      0
Votes                                                           0
Average_Cost_Rupees                                             0
Minimum_Order_Rupees                                            0
Location_BTM Layout 1, Electronic City                          0
Location_Babarpur, New Delhi, Delhi                             0
Location_Chandni Chowk, Kolkata                                 0
Location_Chatta Bazaar, Malakpet, Hyderabad                     0
Location_D-Block, Sector 63, Noida                              0
Location_Delhi Administration Flats, Timarpur                   0
Location_Delhi Cantt.                                           0
Location_Delhi High Court, India Gate                           0
Location_Delhi University-GTB Nagar                             0
Location_Dockyard Road, Mumbai CST Area                         0
Location_FTI College, Law College Road, Pune                    0
Location_Gora Bazar, Rajbari, North Dumdum, Kolkata             0
Location_Hyderabad Public School, Begumpet                      0
Location_Jaya Nagar, Saidabad, Hyderabad                        0
Location_Laxman Vihar Industrial Area, Sector 3A, Gurgoan       0
Location_MG Road, Pune                                          0
Location_Majestic                                               0
Location_Mico Layout, Stage 2, BTM Layout,Bangalore             0
Location_Moulali, Kolkata                                       0
Location_Mumbai Central                                         0
Location_Musi Nagar, Malakpet, Hyderabad                        0
Location_Nathan Road, Mangaldas Road, Pune                      0
Location_Noorkhan Bazaar, Malakpet, Hyderabad                   0
Location_Panjetan Colony, Malakpet, Hyderabad                   0
Location_Pune University                                        0
Location_Raja Bazar, Kolkata                                    0
Location_Rmz Centennial, I Gate, Whitefield                     0
Location_Sandhurst Road, Mumbai CST Area                        0
Location_Sector 1, Noida                                        0
Location_Sector 14, Noida                                       0
Location_Sector 3, Marathalli                                   0
Location_Sector 63A,Gurgaon                                     0
Location_Tejas Nagar Colony, Wadala West, Mumbai                0
Location_Tiretti, Kolkata                                       0
Location_Yerawada, Pune, Maharashtra                            0
North Indian                                                    0
Finger Food                                                     0
Sandwich                                                        0
Chinese                                                         0
Steak                                                           0
Burger                                                          0
Lucknowi                                                        0
Indian                                                          0
South American                                                  0
Biryani                                                         0
Desserts                                                        0
Ice Cream                                                       0
Sri Lankan                                                      0
German                                                          0
Hot dogs                                                        0
Roast Chicken                                                   0
Bohri                                                           0
North Eastern                                                   0
Cantonese                                                       0
Maharashtrian                                                   0
Japanese                                                        0
Asian                                                           0
Poké                                                            0
Greek                                                           0
Coffee                                                          0
Mithai                                                          0
Malwani                                                         0
Iranian                                                         0
Mexican                                                         0
Naga                                                            0
Portuguese                                                      0
Bubble Tea                                                      0
Bakery                                                          0
BBQ                                                             0
Bangladeshi                                                     0
Israeli                                                         0
Arabian                                                         0
Assamese                                                        0
Charcoal Chicken                                                0
Juices                                                          0
Kashmiri                                                        0
Mishti                                                          0
Momos                                                           0
Tamil                                                           0
Pizza                                                           0
Kebab                                                           0
Awadhi                                                          0
Raw Meats                                                       0
Frozen Yogurt                                                   0
Healthy Food                                                    0
Bihari                                                          0
Mediterranean                                                   0
Nepalese                                                        0
Mughlai                                                         0
Tibetan                                                         0
American                                                        0
Belgian                                                         0
Wraps                                                           0
Rolls                                                           0
Thai                                                            0
Sushi                                                           0
Indonesian                                                      0
European                                                        0
Chettinad                                                       0
Continental                                                     0
Spanish                                                         0
Paan                                                            0
Brazilian                                                       0
Parsi                                                           0
Beverages                                                       0
Bengali                                                         0
Seafood                                                         0
Turkish                                                         0
Korean                                                          0
Middle Eastern                                                  0
Goan                                                            0
Malaysian                                                       0
Italian                                                         0
Gujarati                                                        0
Mangalorean                                                     0
Lebanese                                                        0
Fast Food                                                       0
Street Food                                                     0
South Indian                                                    0
Konkan                                                          0
Modern Indian                                                   0
Burmese                                                         0
Afghan                                                          0
Kerala                                                          0
Odia                                                            0
Vietnamese                                                      0
Hyderabadi                                                      0
Salad                                                           0
French                                                          0
Rajasthani                                                      0
Bar Food                                                        0
African                                                         0
Tea                                                             0
Cafe                                                            0
Tex-Mex                                                         0
Andhra                                                          0
dtype: int64

In [35]:
train_df=df4[df4['Train_Test']==1]
test_df=df4[df4['Train_Test']==2]
train_df=train_df.drop(['Train_Test'],axis=1)
test_df=test_df.drop(['Train_Test','Delivery_Time'],axis=1)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import KFold,cross_val_score,cross_val_predict

In [37]:
train_df.drop(['Restaurant', 'Cuisines'],axis=1,inplace=True)

In [38]:
X=train_df.drop(['Delivery_Time'],axis=1)
y=train_df['Delivery_Time']

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y, random_state=1, test_size=0.2)

# Applying Randomforest classifier with hyperparameters

In [40]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 42)

from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [41]:
from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]

# Number of features to consider at every split
max_features = ['auto', 'sqrt']

# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)

# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]

# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]

# Method of selecting samples for training each tree
bootstrap = [True, False]

# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [42]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rfc = RandomForestClassifier()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rfc, param_distributions = random_grid, n_iter = 100, cv = 5, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
%time rf_random.fit(X_train,Y_train)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

D:\install\anaconda\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed: 32.6min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 45.2min finished

Wall time: 45min 22s

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          fit_params=None, iid='warn', n_iter=100, n_jobs=-1,
          param_distributions={'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [43]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    
    print('Model Performance')
    print('Acuracy Score: {:0.4f} degrees.',accuracy_score(test_labels,predictions))
    print('Confusion matrix = {:0.2f}%.\n',confusion_matrix(test_labels,predictions))
    
    
base_model = RandomForestClassifier(n_estimators = 10, random_state = 42)
base_model.fit(X_train,Y_train)
base_accuracy = evaluate(base_model, X_test,Y_test)

best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, X_test,Y_test)

print(rf_random.best_params_ , rf_random.best_score_)

Model Performance
Acuracy Score: {:0.4f} degrees. 0.7124831004957188
Confusion matrix = {:0.2f}%.
 [[   1    4    0    0    0    0]
 [   0 1326  105   15    0    0]
 [   0  303  224   16    0    1]
 [   0  100   84   28    0    1]
 [   0    2    1    0    0    0]
 [   0    4    2    0    0    2]]
Model Performance
Acuracy Score: {:0.4f} degrees. 0.7566471383506084
Confusion matrix = {:0.2f}%.
 [[   0    4    1    0    0    0]
 [   0 1345   93    8    0    0]
 [   0  250  281   12    0    1]
 [   0   78   84   50    0    1]
 [   0    3    0    0    0    0]
 [   0    1    3    1    0    3]]
{'n_estimators': 400, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': None, 'bootstrap': False} 0.7636916835699797

In [44]:
importances = best_random.feature_importances_
feature_list = list(X_train.columns)

#create a list of tuples
feature_importance= sorted(zip(importances, feature_list), reverse=True)

#create two lists from the previous list of tuples
import_df = pd.DataFrame(feature_importance, columns=['importance', 'feature'])
importance= list(import_df['importance'])
feature= list(import_df['feature'])

#see df
print(import_df)

     importance                                            feature
0      0.190517                                              Votes
1      0.158042                                            Reviews
2      0.100047                                             Rating
3      0.065504                                Average_Cost_Rupees
4      0.036036                               Minimum_Order_Rupees
5      0.022555                                          Fast Food
6      0.019483                                            Chinese
7      0.017659                                       North Indian
8      0.014038                                          Beverages
9      0.013216                                       South Indian
10     0.011959                                           Desserts
11     0.011280                                            Biryani
12     0.010722                                            Mughlai
13     0.010427  Location_Mico Layout, Stage 2, BTM Layout,Bang...
14     0.010327                                        Street Food
15     0.010316                                             Bakery
16     0.009532                 Location_D-Block, Sector 63, Noida
17     0.009340                           Location_Sector 1, Noida
18     0.007896                                              Rolls
19     0.007859                                              Pizza
20     0.007748                                            Italian
21     0.007521  Location_Laxman Vihar Industrial Area, Sector ...
22     0.007481        Location_Rmz Centennial, I Gate, Whitefield
23     0.007414                                        Continental
24     0.007256                Location_Delhi University-GTB Nagar
25     0.006960                                          Ice Cream
26     0.006888                          Location_Sector 14, Noida
27     0.006850              Location_Delhi High Court, India Gate
28     0.006675                                               Cafe
29     0.006516                      Location_Sector 3, Marathalli
30     0.006200      Location_Delhi Administration Flats, Timarpur
31     0.006115                            Location_Mumbai Central
32     0.005953                                             Mithai
33     0.005919                                              Momos
34     0.005895                                             Burger
35     0.005881                                  Location_Majestic
36     0.005845                                           Sandwich
37     0.005529                             Location_MG Road, Pune
38     0.005524       Location_FTI College, Law College Road, Pune
39     0.005518                              Location_Delhi Cantt.
40     0.005327           Location_Sandhurst Road, Mumbai CST Area
41     0.005287               Location_Yerawada, Pune, Maharashtra
42     0.005239                                       Healthy Food
43     0.005232                        Location_Sector 63A,Gurgaon
44     0.005086                           Location_Pune University
45     0.005071         Location_Nathan Road, Mangaldas Road, Pune
46     0.004688            Location_Dockyard Road, Mumbai CST Area
47     0.004597                                            Seafood
48     0.004413                                              Asian
49     0.004408                                              Salad
50     0.004033                                               Thai
51     0.003646                                              Kebab
52     0.003246                                            Mexican
53     0.003049                                             Juices
54     0.002930                                           American
55     0.002859                Location_Babarpur, New Delhi, Delhi
56     0.002632                                             Andhra
57     0.002476                                              Wraps
58     0.002461                                             Mishti
59     0.002332   Location_Tejas Nagar Colony, Wadala West, Mumbai
60     0.002314                                      Maharashtrian
61     0.002286                                           Lebanese
62     0.002163                          Location_Moulali, Kolkata
63     0.002072                                         Hyderabadi
64     0.002015                                            Bengali
65     0.001954                                            Arabian
66     0.001950                    Location_Chandni Chowk, Kolkata
67     0.001864                       Location_Raja Bazar, Kolkata
68     0.001859         Location_Hyderabad Public School, Begumpet
69     0.001705                                           European
70     0.001667  Location_Gora Bazar, Rajbari, North Dumdum, Ko...
71     0.001610                          Location_Tiretti, Kolkata
72     0.001520                                                BBQ
73     0.001380                                        Finger Food
74     0.001332                                             Kerala
75     0.001287                                                Tea
76     0.001275                                           Japanese
77     0.001096                                             Coffee
78     0.001055                                           Bar Food
79     0.001014                                         Rajasthani
80     0.000954           Location_Musi Nagar, Malakpet, Hyderabad
81     0.000936                                      Mediterranean
82     0.000935      Location_Noorkhan Bazaar, Malakpet, Hyderabad
83     0.000887                                              Sushi
84     0.000848                                      Modern Indian
85     0.000807                                        Mangalorean
86     0.000781                                               Paan
87     0.000763             Location_BTM Layout 1, Electronic City
88     0.000762                                               Odia
89     0.000712      Location_Panjetan Colony, Malakpet, Hyderabad
90     0.000703        Location_Chatta Bazaar, Malakpet, Hyderabad
91     0.000701                                              Steak
92     0.000692           Location_Jaya Nagar, Saidabad, Hyderabad
93     0.000681                                            Tibetan
94     0.000598                                          Raw Meats
95     0.000569                                             Korean
96     0.000514                                               Goan
97     0.000502                                            Malwani
98     0.000494                                             Bihari
99     0.000468                                         Vietnamese
100    0.000444                                             German
101    0.000401                                      North Eastern
102    0.000394                                          Malaysian
103    0.000361                                          Chettinad
104    0.000334                                           Kashmiri
105    0.000318                                              Parsi
106    0.000306                                               Naga
107    0.000301                                             Awadhi
108    0.000301                                             Afghan
109    0.000298                                            Iranian
110    0.000281                                             Indian
111    0.000281                                             French
112    0.000271                                          Brazilian
113    0.000271                                           Gujarati
114    0.000256                                      Frozen Yogurt
115    0.000255                                             Konkan
116    0.000222                                            Burmese
117    0.000211                                           Lucknowi
118    0.000183                                            Turkish
119    0.000163                                            Belgian
120    0.000146                                     Middle Eastern
121    0.000108                                         Indonesian
122    0.000108                                               Poké
123    0.000094                                            Tex-Mex
124    0.000081                                   Charcoal Chicken
125    0.000053                                         Bubble Tea
126    0.000042                                         Portuguese
127    0.000041                                         Sri Lankan
128    0.000037                                     South American
129    0.000034                                              Tamil
130    0.000033                                            Israeli
131    0.000032                                        Bangladeshi
132    0.000030                                          Cantonese
133    0.000028                                           Nepalese
134    0.000027                                            African
135    0.000026                                           Hot dogs
136    0.000021                                              Greek
137    0.000013                                           Assamese
138    0.000012                                      Roast Chicken
139    0.000007                                            Spanish
140    0.000000                                              Bohri

In [45]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2


#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X_train,Y_train)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(10,'Score'))  #print 10 best features

                    Specs          Score
2                   Votes  838834.785904
1                 Reviews  437236.319641
3     Average_Cost_Rupees   37338.928685
4    Minimum_Order_Rupees    3512.893816
72                 Bakery     548.308913
50               Desserts     129.283619
111               Seafood     112.209689
134            Rajasthani      95.585335
99                   Thai      88.276276
117               Italian      80.896769

# Reduce feature and apply scaling

In [46]:
train_df1=train_df.copy()

In [47]:
train_df1.drop(train_df1.columns.difference(['Votes','Reviews','Average_Cost_Rupees','Minimum_Order_Rupees','Fast Food','Rating','Chinese','North Indian','Beverages','South Indian']), axis=1, inplace=True)

In [48]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train1=sc.fit_transform(train_df1)

D:\install\anaconda\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\install\anaconda\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [49]:
X_train_scale, X_test_scale, Y_train, Y_test = train_test_split(X_train1,y,random_state=1, test_size=0.2)

In [50]:
# Number of trees in random forest
n_estimators = [1400]

# Number of features to consider at every split
max_features = ['auto']

# Maximum number of levels in tree
max_depth = [40]

# Minimum number of samples required to split a node
min_samples_split = [2]

# Minimum number of samples required at each leaf node
min_samples_leaf = [1]

# Method of selecting samples for training each tree
bootstrap = [False]

# Create the random grid
random_grid1 = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid1)

{'bootstrap': [False],
 'max_depth': [40],
 'max_features': ['auto'],
 'min_samples_leaf': [1],
 'min_samples_split': [2],
 'n_estimators': [1400]}

In [51]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rfc = RandomForestClassifier()

# Random search of parameters, using 5 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rfc, param_distributions = random_grid1, n_iter = 100, cv = 5, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
%time rf_random.fit(X_train_scale,Y_train)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

D:\install\anaconda\lib\site-packages\sklearn\model_selection\_search.py:271: UserWarning: The total space of parameters 1 is smaller than n_iter=100. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
D:\install\anaconda\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:   38.9s finished

Wall time: 56.4 s

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          fit_params=None, iid='warn', n_iter=100, n_jobs=-1,
          param_distributions={'n_estimators': [1400], 'max_features': ['auto'], 'max_depth': [40], 'min_samples_split': [2], 'min_samples_leaf': [1], 'bootstrap': [False]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [52]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    
    print('Model Performance')
    print('Acuracy Score:',accuracy_score(test_labels,predictions))
    print('Confusion matrix: \n',confusion_matrix(test_labels,predictions))
    
    
base_model = RandomForestClassifier(n_estimators = 10, random_state = 42)
base_model.fit(X_train_scale,Y_train)
base_accuracy = evaluate(base_model, X_test_scale,Y_test)

best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, X_test_scale,Y_test)

print(rf_random.best_params_ , rf_random.best_score_)

Model Performance
Acuracy Score: 0.7593510590356016
Confusion matrix:
 [[   1    2    2    0    0    0]
 [   0 1327  109    8    0    2]
 [   0  224  289   30    0    1]
 [   0   70   78   65    0    0]
 [   0    2    0    0    1    0]
 [   0    3    3    0    0    2]]
Model Performance
Acuracy Score: 0.7634069400630915
Confusion matrix:
 [[   1    3    1    0    0    0]
 [   0 1322  111   10    0    3]
 [   0  211  299   33    0    1]
 [   0   68   76   69    0    0]
 [   0    0    1    1    1    0]
 [   0    1    5    0    0    2]]
{'n_estimators': 1400, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 40, 'bootstrap': False} 0.7729321613702952

In [54]:
test_df.drop(test_df.columns.difference(['Votes','Reviews','Average_Cost_Rupees','Minimum_Order_Rupees','Fast Food','Rating','Chinese','North Indian','Beverages','South Indian']), axis=1, inplace=True)

In [56]:
X_test1=sc.fit_transform(test_df)

D:\install\anaconda\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\install\anaconda\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [57]:
test_data_pred = rf_random.predict(X_test1)

In [58]:
print(test_data_pred)

[30. 30. 30. ... 30. 45. 45.]